<!DOCTYPE html>
<head>
	<link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='images/favicon-16x16.png')}}">
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
  <title>Contact Us</title>
</head>
<body>
  
    <div class="navbar-wp">

	    <img class="logo-nav" src="{{url_for('static', filename='images/logo.png')}}" alt="logo">
      <a href="/Register">Register</a>
      <a href="/Login">Login</a>
      <a href="/ContactUs">Contact Us</a>
      <a href="/">Home</a>

</div>
<form action="mailto:aaronjs3998@gmail.com"
method="POST"
enctype="multipart/form-data"
name="EmailForm">
    Name:<br>
    <input type="text" size="19" name="Contact-Name"><br><br>
    Email:<br>
    <input type="email" name="Contact-Email"><br><br>
    Message:<br>
    <textarea name="Contact-Message" rows="6″ cols="20″>
    </textarea><br><br>
    <button type="submit" value="Submit">Send</button>
</form>

</body>
</html>
