<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
	  <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='images/favicon-16x16.png')}}">
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    <title>Picto</title>
  </head>
  <body>
	  <div class="bg">
      <div class="navbar">


	<a href="/Register">Register</a>
        <a href="/Login">Login</a>
	<a href="/ContactUs">Contact Us</a>
	<a href="/">Home</a>

  </div>
          <div class="logo">
		  <img src="{{url_for('static', filename='images/logo.png')}}" alt="logo">
		  </div>									   
	  
<div class="form">
  <form action="" method="get" name="form">
	  <input  class="search-field" type="text" placeholder="Search..." name="search_query" id="search"/>
    <button class= "submit-btn" type="submit" name="Submit">Search</button>
  </form>
</div>

</div>
  </body>
</html>
