<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
	  <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='images/favicon-16x16.png')}}">
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    <title>Picto</title>
  </head>
  <body>
	  <div class="bg">
      <div class="navbar">


        <a href="Register.html">Register</a>
        <a href="Login.html">Login</a>
        <a href="Contactus.html">Contact Us</a>

  </div>
          <div class="logo">
		  <img src="{{url_for('static', filename='images/logo.png')}}" alt="logo"
		  </div>									   
	  
<div class="form">
  <form method="GET">
    <input  type="search" placeholder="Search..." name="search_query">
    <button type="submit" name="Submit"></button>
  </form>
</div>

</div>
  </body>
</html>
